<html>
    <head>
    <title>WEB APP</title>
    </head>
    <link rel="stylesheet" type="text/css" href="./static/css/main.css"/>
    <body>
        <div class="help">
            <h1>Fake News Classifier</h1>
            <form id="upload-file" method="POST">
                <label for="textmessageupload" class="upload-label">
                    <h1> Enter your message here</h1>
                </label>
                <label>Fixed Acidity(4.6-15.6)</label>
                <input type="text" name="fa">
                <br>
                <label>Volatile Acidity(0.12,1.12)</label>
                <input type="text" name="va">
                <br>
                <label>Citric Acid(0,0.86)</label>
                <input type="text" name="ca">
                <br>
                <label>Residual Sugar(0.9-13.5)</label>
                <input type="text" name="rs">
                <br>
                <label>Chlorides(0.012,0.43)</label>
                <input type="text" name="cls">
                <br>
                <label>Free Sulphur Dioxide(1,73)</label>
                <input type="text" name="fso2">
                <br>
                <label>Total Sulphur Dioxide(7,279)</label>
                <input type="text" name="tso2">
                <br>
                <label>Density(0.99,1.01)</label>
                <input type="text" name="dnsty">
                <br>
                <label>PH value(2.84,4.1)</label>
                <input type="text" name="ph">
                <br>
                <label>Sulphates(0.3,1.4)</label>
                <input type="text" name="sulph">
                <br>
                <label>Alcohol(8.4,15)</label>
                <input type="text" name="alc">
                <br>
                <input type="submit" value="Predict"/>
            </form>
        </div>
    </body>
</html>
        